@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit", serif;
}
body{
    background-color: #01000B;
}

.swiper-wrapper{
    display: flex !important;
}

.swiper-pagination{
    display: none !important;
}